PORT=3100
AWS_ACCOUNT_ID=752224033369
AWS_REGION=ap-south-1
AWS_S3_BUCKET=drate-uploads-752224033369-20260419113259
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_S3_PUBLIC_BASE_URL=https://drate-uploads-752224033369-20260419113259.s3.ap-south-1.amazonaws.com
FIREBASE_PROJECT_ID=myapplication-dc877d91
SIGNED_URL_TTL_SECONDS=300
